<div class="landing-section">
        <h1 class="title font-weight-light">What are you<br>

        <b>here to do?</b></h1>
        <div class="splide splide--draggable">
            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide"><a class="carousel-card" href=""><img src="assets/imgs/placeholder.png">Get a device<br><span class="start-botton">Start here ></span></a></li>
                    <li class="splide__slide"><a class="carousel-card" href=""><img src="assets/imgs/placeholder.png">Add a<br>phone-line</a></li>
                    <li class="splide__slide"><a class="carousel-card" href=""><img src="assets/imgs/placeholder.png">Upgrade</a></li>
                    <li class="splide__slide"><a class="carousel-card" href=""><img src="assets/imgs/placeholder.png">Mobile<br>internet</a></li>
                    <li class="splide__slide"><a class="carousel-card" href=""><img src="assets/imgs/placeholder.png">Home<br>internet</a></li>
                </ul>
            </div>
        </div>
</div>
