/* You can add global styles to this file, and also import other style files */
.body-bg {
    background: #f6cdcd;
}

header {
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 10%), 0 3px 11px 0 rgb(0 0 0 / 10%);
    z-index: 9;
    position: relative;
}

.landing-section {
    background: rgb(231,245,246);
    background-image: 
    repeating-linear-gradient(
      90deg,
      #e7f5f6,
      #e7f5f6 100px,
      #d6eaec 0px,
      #d6eaec 120px /* determines size */
    );
    width: 70%;
    margin: 0 auto;
}